h1{text-shadow:2px 3px 5px #333}

#naruto{
    width: 40%;
    height: auto;
    border: solid 1px rgb(144, 144, 144);
}

#sasuke{
    width: 40%;
    height: auto;
    border: solid 1px rgb(144, 144, 144);
}
#hinata{ width: 40%;
    height: auto;
    border: solid 1px rgb(144, 144, 144);}

#sakura{width: 40%;
    height: auto;
    border: solid 1px rgb(144, 144, 144);}


